<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyw.dao.TUserMapper">
    <resultMap id="tuserMap" type="TUser">
        <result property="userName" column="user_name"></result>
    </resultMap>
    <select id="login" resultMap="tuserMap" parameterType="TUser">
        select * from t_user where user_name=#{userName} and password=#{password}
    </select>
</mapper>